<?xml version="1.0"?>
<!--
/**
 * Taxes
 *
 * @category   Mugar
 * @package    Mugar_Taxes
 * @license    http://www.opensource.org/licenses/mit-license.html  MIT License
 * @author     Mugar (https://www.mugar.io/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mugar_Taxes">
        <sequence>
            <module name="Magento_Tax" />
        </sequence>
    </module>
</config>
